*
    margin 0
    padding 0
    line-height 1
    font-family  Helvetica,STHeiti,Droid Sans Fallback
    box-sizing border-box
a
    text-decoration none
    color inherit
ul
ol
    list-style none
em
i
    font-style normal
.clearFix
    clear both
.footer
    position relative
    width 100%
    height (80/16) rem
    background  #FE5400
    background-image url(../image/taobao.png)
    background-repeat no-repeat
    background-size (28/16)rem (20/16)rem
    background-position 3% (8/16)rem
    padding (6/16) rem
    .search
        width 88%
        border-radius (6/16) rem
        background #B52600
        height (26/16) rem
        float right
        text-align center
        color #F0E0DC
        span
            line-height (28/16) rem
            font-size 0.8rem
            &:before
                content ''
                display inline-block
                background-image url(../image/icon666.jpg)
                width (20/16)rem
                height @width
                background-size 100% 100%
                vertical-align middle
                margin-bottom (4/16)rem
    .fixedBox
        .main1
            position absolute
            width 75%
            height 52%
            background rgb(95,100,110)
            left 0
            bottom 0
            .btn
                float left
                color white
                font-size 1.3rem
                margin-left (8/16)rem
                line-height (42/16)rem
                display inline
            img
                float left
                width (30/16) rem
                height @width
                margin-left (12/16)rem
                margin-top (6/16)rem

            span
                float right
                color white
                font-size 0.8rem
                line-height (42/16)rem
                margin-right (30/16)rem
        &>span
            float right
            font-size 0.9rem
            color #F0E0DC
            line-height (48/16) rem
.app
    width 100%
    ul
        li
            float left
            width 20%
            img
                display block
                width 80%
                height 2.2rem
                margin 0.5rem auto 0.25rem
            p
                text-align center
                font-size (12/16)rem
                color rgb(102, 102, 102)
.banner
    width 100%
    border-top 1px solid rgb(244,244,244)
    margin-top (20/16)rem
    .left
        float left
        width (60/16)rem
        height (30/16)rem
        border-right 1px solid rgb(244,244,244)
        background-image url(https://gw.alicdn.com/tps/i3/TB12wM3HXXXXXbxapXXdFmWHFXX-207-60.png?imgtag=avatar)
        background-size 80% 60%
        background-position 50% 50%
        background-repeat no-repeat
    span
        &:not(.change)
            margin-left (12/16)rem
            padding (1/16)rem
            color rgb(216, 20, 33)
            border 1px solid rgb(216, 20, 33)
            font-size (12/16)rem
            line-height (30/16)rem
            border-radius 0.25rem
    .change
        margin-left (12/16)rem
        font-size (14/16)rem
        line-height (30/16)rem
        color rgb(53, 53, 53)






















